<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mozaic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <mozaic.Properties.Settings>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImgTargetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="useColorData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorIndexQuant" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="nbColRows" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="tileSizeResult" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="matchGridSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="appData" serializeAs="String">
                <value />
            </setting>
            <setting name="wRgbErr" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="wIntErr" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="wRelIntErr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fastSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="brightnessCorrectionFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="penaltyReuse" serializeAs="String">
                <value>0</value>
            </setting>
        </mozaic.Properties.Settings>
    </userSettings>
</configuration>